.footer {
    background: $primary;
    color: $main-color;
    border-top: solid 1px $border-color-inverted;

    .container {   
        padding-top: $spacing * 3;
        padding-bottom: $spacing * 3;
    }
}

.footer__sub {
    border-top: solid 1px $border-color;
    background: $overlay-color;

    .container {
        padding-top: $spacing;
        padding-bottom: $spacing;
    }
}