.hero {
    background-size: cover;
    display: flex;
    align-items: center;
    height: $hero-height-sm;
    border-bottom: solid 1px $border-color;
    
    .title {
        color: $main-color-inverted;
    }

    @include media-breakpoint-up(sm) {
        height: $hero-height;
    }
}