.site-logo {
    @extend .u-flex-center;
    background: $primary;
    width: $header-height-sm;
    height: $header-height-sm;
    padding: $spacing / 6;

    @include media-breakpoint-up(sm) {
        width: $header-height;
        height: $header-height;
        padding: $spacing / 4;
        margin: 0;
    }

    .site-logo__image {
        width: 100%;
        height: 100%;
    }
}