html
    head
        title=title
        meta(name="viewport" content="width=device-width")

        block styles
            link(rel="stylesheet" href="assets/styles/style.css")

    body.has-header

        // Header
        block header
            include ../includes/header.pug

        // Page Contents
        .page-contents
            block hero
            block content

        // Footer
        block footer
            include ../includes/footer.pug

        // Scripts
        block scripts
            script(src="assets/scripts/main.js")
            script(src=`http://localhost:${liveReloadPort}/livereload.js`)
