html
    head
        title=title
        meta(name="viewport" content="width=device-width")
        block styles
            link(rel="stylesheet" href="assets/styles/bundle.css")
    body
        block content
        block footer
            footer
                span Made by #{author}
        block scripts
            script(src="http://localhost:35729/livereload.js")
