header.header.is-open(role="banner")

    // Main Navbar
    nav.navbar
        .container

            // Navbar brand
            .navbar__brand
                a(href="/" title="Home" alt="Home")
                    include logo.pug

            // Navbar nav
            ul.navbar__nav
                li.nav__item
                    .item__title ik & werk
                li.nav__item
                    .item__title series
                li.nav__item
                    .item__title onderwerpen

                    ul.navbar__nav
                        li.nav__item
                            .item__title jezelf ontwikkelen
                        li.nav__item
                            .item__title succesvoller solliciteren
                        li.nav__item
                            .item__title werk vinden
                        li.nav__item
                            .item__title uitkering

                        ul.navbar__nav
                            li.nav__item
                                each column in [1, 2, 3, 4, 5]
                                    ul.navbar__nav.navbar__nav--list
                                        li.nav__item
                                            .item__title menu #{column}
                                        li.nav__item
                                            a(href="#") Menu item level 4
                                        li.nav__item
                                            a(href="#") Menu item level 4
                                        li.nav__item
                                            a(href="#") Menu item level 4
                                        li.nav__item
                                            a(href="#") Menu item level 4
                                
            
            // Navbar end
            ul.navbar__end
                li.nav__item
                    button.btn.item__button
                        i.icon.icon--search
                li.nav__item
                    button.btn.item__button
                        i.icon.icon--hamburger