html
    head
        link(rel="stylesheet" href="assets/styles/bundle.css")
    body
        
        .grid.margin
            .block test
            .block test
            .block test
            .block test
            .block test
            .block test

        .spacer

        .grid.gap
            .block test
            .block test
            .block test
            .block test
            .block test
            .block test


        script(src="http://localhost:35729/livereload.js")
